.lang-img {
    width: 24px;
    height: 16px;
}

.site-header .right .top-links {
    margin-left: 45px;
}

.top-links li {
    list-style: none;
    margin-left: 10px;
    padding-top: 5px;
}
.preloader-folding-cube .preloader-cube:before, .wpb_text_column ul li:before, .button-style1, .button-style2:before, .input-row:before, .woocommerce-form-row:before, .header-minicart .hm-count span, .social-links-with-label a:not(:first-child):before, .navigation li:not(.mega-menu-col) > .sub-menu li > a:before, .navigation li:not(.mega-menu-col) > .children li > a:before, .heading-block.with-line:after, .heading-block.style2 .sub-h:after, body.dark-scheme .tagcloud .tag-cloud-link:hover, body .dark-scheme .tagcloud .tag-cloud-link:hover, .coming-soon-banner .bg-overlay .color, .banner-404 .bg-overlay .color,
.tournament .title a:hover, .stream-link:hover, .match-item.minified .links a:hover, .page-top-block .game-team .sep .links a:hover, .nav-arrows .prev:hover, .nav-arrows .next:hover, .slider-nav .prev:hover, .slider-nav .next:hover, .slider-nav .pag.style1 .swiper-slide.swiper-slide-active:before, .slider-nav .pag.style1 .swiper-slide.swiper-slide-active span:nth-child(1):before, .slider-nav .pag.style2 .swiper-slide.swiper-slide-active:before, .slider-nav .pag.style2 .swiper-slide.swiper-slide-active span:nth-child(1):before, .banner-area .bottom-content .banner-pagination.style2 .swiper-pagination-bullet:after, .banner-area .bottom-content .banner-pagination.style2 .swiper-pagination-bullet.swiper-pagination-bullet-active:after, .banner-area .bottom-content .banner-pagination.style3 .swiper-pagination-bullet.swiper-pagination-bullet-active, .banner-area .banner-s-buttons .button .close-label, .banner-area .banner-s-buttons .button:not(.active):hover .label, .nav-buttons > *:hover, .portfolio-item .plus-permalink:hover i, .portfolio-type-carousel2 .swiper-slide .category, .brand-block > .prev:hover, .brand-block > .next:hover, .subscribe-form button:hover, .tabs-block .tb-m-button:not(.current):hover, .tabs-block .tb-buttons .button:not(.current):hover, .tabs-block .tb-m-button span, .tabs-block .tb-buttons .button span, .tournament .b-col .value, .games-block .prev:hover, .games-block .next:hover, .games-block .games-item:hover .title, .testimonials-slider .prev:hover, .testimonials-slider .next:hover, .categories-carousel .prev:hover, .categories-carousel .next:hover, .products-carousel .prev:hover, .products-carousel .next:hover, .page-top-block .game-team .item .points,
.preloader-words .word span, .site-logo a:hover, .fullscreen-navigation ul li a:hover, .blog-item .title:hover, .blog-item .title a:hover, .widget_recent_entries a:hover, .widget_recent_comments ul li a:hover, .breadcrumbs a:hover, .project-slider .prev:hover, .project-slider .next:hover, .text-t2 a:hover, .text-t3 a:hover, blockquote:before, .button-style1.accent, .readmore-link:hover, .link-button.accent, .link-button:hover, .play-button.with-label i, .header-search-button:hover, .header-minicart .hm-count:hover i, .social-links .subscribe-label:hover, .social-links-with-label .subscribe-label:hover, .social-links a:hover, .social-links-with-label a:hover, .social-links-label a:hover, .navigation-hover-style1 .navigation .menu > li > a span:before, .navigation-hover-style2 .navigation .menu > li > a span:before, .navigation-hover-style3 .navigation .menu > li > a span:before, .navigation-hover-style4 .navigation .menu > li > a span:before, .navigation li:not(.mega-menu-col) > .sub-menu li.menu-item-has-children:before, .navigation li:not(.mega-menu-col) > .children li.menu-item-has-children:before, .navigation .mega-menu .mega-menu-row li.current-menu-item > a, .navigation .mega-menu .mega-menu-row li.current-menu-ancestor > a, .navigation .mega-menu .mega-menu-row li.current_page_item > a, .navigation .mega-menu .mega-menu-row li.current_page_parent > a, .navigation .mega-menu .mega-menu-row li:hover > a, .fullscreen-navigation ul li.current-menu-item > a, .fullscreen-navigation ul li.current-menu-ancestor > a, .fullscreen-navigation ul li.current_page_item > a, .fullscreen-navigation ul li.current_page_parent > a, .fullscreen-navigation ul li:hover > a, .fullscreen-navigation li.back:hover, .side-navigation .menu > li > a span:before, .search-popup .close:hover, .subscribe-popup .close:hover, .sidebar-content-block .close:hover, .site-footer-minified a:hover, .site-footer .footer-bottom a:hover, .heading-block .sub-h span, .heading-block .h.accent-color, .heading-block .h span, .post-bottom .categories a:hover, .scroll-to-top-button:hover, .comments-area .comment-items .comment-item .top .time, .searchform button:hover, .protected-post-form .form button:hover, .widget_archive ul li a:hover, .widget_categories ul li a:hover, .widget_pages ul li a:hover, .widget_meta ul li a:hover, .widget_nav_menu ul li a:hover, .product-categories ul li a:hover, .post-banner .categories {
    color: #24e294;
}

.navigation {
    font-size: 14px;
}

.button-style1:before {
    background-image: none;
    background: #24e294;
    opacity: 1;
}

.button-style1 {
    background-image: none;
    background: #24e294;
    opacity: 1;
    color: #fff;
}

.preloader-folding-cube .preloader-cube:before, .wpb_text_column ul li:before, .button-style1, .button-style2:before, .input-row:before, .woocommerce-form-row:before, .header-minicart .hm-count span, .social-links-with-label a:not(:first-child):before, .navigation li:not(.mega-menu-col) > .sub-menu li > a:before, .navigation li:not(.mega-menu-col) > .children li > a:before, .heading-block.with-line:after, .heading-block.style2 .sub-h:after, body.dark-scheme .tagcloud .tag-cloud-link:hover, body .dark-scheme .tagcloud .tag-cloud-link:hover, .coming-soon-banner .bg-overlay .color, .banner-404 .bg-overlay .color,
.slider-nav .pag.style1 .swiper-slide.swiper-slide-active span:nth-child(1), .slider-nav .pag.style2 .swiper-slide.swiper-slide-active span:nth-child(1), .banner-area .bottom-content .banner-pagination .swiper-pagination-bullet:after, .skills-rate .rate-line div, .contact-block .title:before, .tabs-block .tb-m-button:after, .tabs-block .tb-buttons .button:after {
    background: #24e294;
}

.icon-box:before {
    content: '';
    background: #24e294 none;
    opacity: 0;
    z-index: 0;
}

.icon-box:hover:before {
    opacity: .8;
}

.navigation li:not(.mega-menu-col) > .sub-menu, .navigation li:not(.mega-menu-col) > .children {
    font-size: 13px;
}

.navigation.main-menu li:hover > a span:before {
    width: 40px;
    -webkit-transform: skewX(
            -25deg);
    -ms-transform: skewX(-25deg);
    transform: skewX(
            -25deg);
}

.tournaments-block .nav-container .nav-arrows {
    margin-top: 20px;
}

.color-main {
    color: #24e294 !important;
}

/*==============================
	Sign
==============================*/
.sign {
    display: block;
    position: relative;
}
.sign__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px 0 0;
}
.sign__form {
    background-color: #16151a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 30px 20px;
    position: relative;
    width: 100%;
    max-width: 420px;
    border: 1px solid #222227;
}
.sign__form--contacts,
.sign__form--profile,
.sign__form--cart {
    margin-top: 20px;
    max-width: 100%;
    padding: 20px 20px 5px;
    align-items: flex-start;
}
.sign__form--contacts .sign__btn,
.sign__form--profile .sign__btn,
.sign__form--cart .sign__btn {
    margin: 0 0 15px;
}
.sign__form--contacts .row,
.sign__form--profile .row,
.sign__form--cart .row {
    margin-left: -10px;
    margin-right: -10px;
}
.sign__form--contacts .col-12,
.sign__form--profile .col-12,
.sign__form--cart .col-12 {
    padding-left: 10px;
    padding-right: 10px;
}
.sign__form--profile .sign__btn {
    margin: 5px 0 15px;
}
.sign__logo {
    display: block;
    margin-bottom: 30px;
}
.sign__logo a {
    max-width: 100%;
    width: auto;
}
.sign__logo img {
    width: 100px;
}
.sign__title {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}
.sign__label {
    font-weight: 400;
    font-size: 14px;
    color: #c0c0c0;
    margin-bottom: 5px;
    padding-left: 20px;
}
.sign__label b {
    font-weight: 600;
    color: #fff;
}
.sign__input {
    background-color: #222227;
    border: 1px solid transparent;
    border-radius: 12px;
    height: 46px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 0 20px;
}
.sign__input:focus {
    border-color: #25a56a;
}
.sign__select {
    background: url("../images/arrow2.svg") no-repeat center right 20px #222227;
    background-size: 18px auto;
    border: 1px solid transparent;
    border-radius: 12px;
    height: 46px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
}
.sign__select:focus {
    border-color: #25a56a;
}
.sign__textarea {
    background-color: #222227;
    border: 1px solid transparent;
    border-radius: 12px;
    height: 144px;
    position: relative;
    color: #fff;
    font-size: 16px;
    width: 100%;
    padding: 15px 20px;
    resize: none;
}
.sign__textarea:focus {
    border-color: #25a56a;
}
.sign__group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.sign__group--row .sign__label {
    padding-left: 0;
}
.sign__group--checkbox {
    width: 100%;
    text-align: left;
}
.sign__group--checkbox input:not(:checked),
.sign__group--checkbox input:checked {
    position: absolute;
    left: -9999px;
}
.sign__group--checkbox input:not(:checked) + label,
.sign__group--checkbox input:checked + label {
    font-size: 14px;
    color: #c0c0c0;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 22px;
    margin: 0;
}
.sign__group--checkbox input:not(:checked) + label a,
.sign__group--checkbox input:checked + label a {
    color: #25a56a;
}
.sign__group--checkbox input:not(:checked) + label a:hover,
.sign__group--checkbox input:checked + label a:hover {
    color: #25a56a;
    text-decoration: underline;
}
.sign__group--checkbox input:not(:checked) + label:before,
.sign__group--checkbox input:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-color: #222227;
    border: 1px solid transparent;
    border-radius: 6px;
}
.sign__group--checkbox input:not(:checked) + label:after,
.sign__group--checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    transition: 0.5s ease;
    background: url("../images/checkmark.svg") no-repeat center/20px auto;
    border-radius: 6px;
}
.sign__group--checkbox input:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
.sign__group--checkbox input:checked + label:after {
    opacity: 1;
    transform: scale(1);
}
.sign__group--checkbox label::-moz-selection {
    background: transparent;
    color: #c0c0c0;
}
.sign__group--checkbox label::selection {
    background: transparent;
    color: #c0c0c0;
}
.sign__btn {
    width: 100%;
    height: 50px;
    border-radius: 12px;
    background-color: #25a56a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    font-weight: 500;
    margin: 15px auto;
}
.sign__btn:hover {
    color: #fff;
    background-color: #24e294;
    cursor: pointer;
}
.sign__text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.sign__text:first-child {
    margin-top: 0;
}
.sign__text a {
    position: relative;
    color: #25a56a;
}
.sign__text a:hover {
    color: #25a56a;
    text-decoration: underline;
}
.sign__text--small {
    font-size: 13px;
    line-height: 20px;
    text-align: left;
}
.sign__delimiter {
    font-size: 14px;
    color: #c0c0c0;
    line-height: 100%;
    width: 100%;
    display: block;
    text-align: center;
}
.sign__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}
.sign__social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: calc(33% - 10px);
    border-radius: 12px;
    color: #fff;
}
.sign__social a svg {
    height: auto;
    fill: #fff;
    transition: 0.5s ease;
}
.sign__social a.fb {
    background-color: #3b5999;
}
.sign__social a.fb svg {
    width: 10px;
}
.sign__social a.gl {
    background-color: #df4a32;
}
.sign__social a.gl svg {
    width: 18px;
}
.sign__social a.tw {
    background-color: #1da1f2;
}
.sign__social a.tw svg {
    width: 20px;
}
.sign__social a:hover {
    background-color: #c0c0c0;
}
.sign__social a:hover.fb svg {
    fill: #3b5999;
}
.sign__social a:hover.gl svg {
    fill: #df4a32;
}
.sign__social a:hover.tw svg {
    fill: #1da1f2;
}
.sign__value {
    font-size: 24px;
    color: #fff;
    display: block;
    font-weight: 500;
    margin-left: 10px;
}
.sign__radio {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;
}
.sign__radio li {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.sign__radio li:last-child {
    margin-bottom: 0;
}
.sign__radio input:not(:checked),
.sign__radio input:checked {
    position: absolute;
    left: -9999px;
}
.sign__radio label {
    display: block;
    margin: 0;
    position: relative;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    color: #c0c0c0;
    line-height: 24px;
    padding-left: 32px;
    transition: 0.5s ease;
}
.sign__radio label:before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 6px solid #222227;
    background-color: transparent;
    border-radius: 50%;
    left: 0;
    top: 2px;
    transition: 0.5s ease;
}
.sign__radio label:hover {
    color: #fff;
}
.sign__radio input:checked + label {
    color: #fff;
}
.sign__radio input:checked + label:before {
    border-color: #25a56a;
}

.sign__form .form-title {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 25px;
}
@media (min-width: 576px) {
    .sign__form {
        padding: 30px;
    }
    .sign__form--contacts,
    .sign__form--profile,
    .sign__form--cart {
        padding: 20px 20px 5px;
    }
    .sign__logo {
        margin-bottom: 40px;
    }
}
@media (min-width: 768px) {
    .sign__form--contacts,
    .sign__form--profile {
        margin-top: 30px;
    }
    .sign__form--contacts .sign__btn,
    .sign__form--profile .sign__btn {
        margin: 10px 0 15px;
    }
    .sign__form--cart {
        margin-top: 30px;
    }
    .sign__form--cart .sign__btn {
        margin-top: 10px;
    }
    .sign__content {
        padding: 30px 0 0;
    }
}
@media (min-width: 992px) {
    .sign__form--profile .sign__btn {
        width: 180px;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 450px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-close-btn {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 0;
    background: #23e293;
    height: 34px;
    width: 34px;
    display: block;
    padding: 0;
    line-height: 1.2;
    text-align: center;
    border-radius: 34px;
    z-index: 99;
    top: 14px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}